mixin print(posting)
    div
        h3
            a(href=`posting/${posting.id}`) #{posting.title} 
        each hashtag in posting.hashtags 
            span #{hashtag}     
        br
        small=posting.createdAt
    hr