mixin print(postings)
    each posting in postings
        ul 
            li #{posting.title}
            li #{posting.description}
            li #{posting.hashtags}
            li #{posting.createdAt}