doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}  |  #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.11/mvp.css")
    body 
        header
            h2 #{pageTitle}
            nav 
                ul 
                    li 
                        a(href="/") Home
                    li 
                        a(href="/upload") Upload
                    li 
                        a(href="/search") Search
                    if loggedIn 
                        li 
                            a(href="#") #{user.nickname}의 프로필
                        li 
                            a(href="/logout") Logout
                    else
                        li 
                            a(href="/login") Login       
        main 
            block contents