extends base
block contents 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(type="email" placeholder="E-mail" required name="email")
        input(type="password" placeholder="Password" required name="password")
        input(type="password" placeholder="Confirm password" required name="password2")
        input(type="nickname" placeholder="Nickname" required name="nickname")
        input(type="submit" value="Join")
    div 
        h4 Do you have an account ? 
            a(href="/login") Login &rarr;