extends base
block contents
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(type="email" placeholder="E-mail" required name="email")
        input(type="password" placeholder="Password" required name="password")
        input(type="submit" value="Login")
        a(href="/login/github/start") github login &rarr;
    br   
    div 
        h4 Don't you have an account ? 
            a(href="/join") Join &rarr;