extends base
include mixins/print
block contents 
    form(method="GET")
        input(type="text" placeholder="Enter the title" name="keyword" required)
        input(type="submit" value="Search")
    if postings
        div
            each posting in postings
                +print(posting)