extends base.pug
include mixins/print.pug
block contents 
    form(method="GET")
        input(type="text" required placeholder="Enter the title" name="keyword")
        input(type="submit" value="Search")
    if postings.length == 0
        li nothing posting
    each posting in postings 
        +print(posting)
        hr