extends base.pug
block contents 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(name="title" type="text" required placeholder="title")
        input(name="contents" type="text" required placeholder="contents")
        input(name="hashtags" type="text" required placeholder="hashtags")
        input(type="submit" value="Save")