extends base.pug
block contents
    if errorMessage 
        span #{errorMessage}
    form(method="POST")
        input(type="text" required placeholder="title" name="title")
        input(type="text" required placeholder="description" name="description")
        input(type="text" required placeholder="hashtags" name="hashtags")
        input(type="submit" value="Save")