extends base.pug
block contents 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(type="text" placeholder="title" name="title" required)
        input(type="text" placeholder="contents" name="contents" required)
        input(type="text" placeholder="hashtags" name="hashtags" required)
        input(type="submit" value="Save")